polkit.addRule(function(action, subject) {
	if (action.id.indexOf("org.freedesktop.hostname1") == 0 &&
			subject.isInGroup("_deck")) {
		return polkit.Result.YES;
	}
});
